<div id="profile-img-container">
  <img src="<%=user.profile_picture_url%>">
</div>
<h1><%= user.first_name %></h1>
<p><%= user.bio %></p>
<% user.activity_blurbs.each do |blurb| %>
  <% if blurb.text == "beginner" %>
    <button class="sport_card sports-beginner-card"><%= Activity.find(blurb.id).name %></button>
  <% elsif blurb.text == "intermediate" %>
    <button class="sport_card sports-intermediate-card"><%= Activity.find(blurb.id).name %></button>
  <% else %>
    <button class="sport_card sports-advanced-card"><%= Activity.find(blurb.id).name %></button>
  <% end %>
<% end %>
<div class="dislike"></div>
<div class="like"></div>
