<img src="<%=user.profile_picture_url%>" height="35%">
<h1><%= user.first_name %></h1>
<p><%= user.bio %></p>
<% user.activities.each do |activity| %>
<button class="btn btn-xs disable-button btn-success" disabled><%= activity.name %></button>
<% end %>

<!-- <a href="/swipe_yes/<%=user.id%>">
<div class="card-swipe-yes">
</div>
</a>

<a href="/swipe_no/<%=user.id%>">
<div class="card-swipe-no">
</div>
</a> -->
