
<%=flash[:modal_to_show]%>



<%= render 'profile_pic_name_and_age' %>
<%= render 'profile_bio' %>
<%= render 'profile_sports' %>
<div class="footer">

<button class="col-xs-6"><%= link_to "Logout", destroy_user_session_path, :method => :delete %></button>
<button class="col-xs-6"><%= link_to "Edit Profile", '/edit_profile' %></button>
</div>
