
  <h3><%= @user.first_name %> <%= @user.last_name %></h3>
  <img src=<%= "#{@user.profile_picture_url}" %>/>
  <h5><%= @user.email %></h5>
  <h4><%= @user.age %></h4>
  <h6><%= @user.bio %></h6>
<%= link_to raw("<span class='glyphicon glyphicon-log-out'></span> Logout"), destroy_user_session_path, :method => :delete, :class=>"btn btn-danger btn-sm" %>
<%= link_to "Edit Activities", activity_blurbs_path, :class=>"btn btn-primary btn-sm" %>

<%= link_to "Edit Profile", edit_user_registration_path, :class=>"btn btn-primary btn-sm" %>
