<div class="modal-body">
  <div class="text-center">
  <h2 class="overlay-header">You found a Double!</h2>
  <img class="profile-pic" src="<%=@matched_user.profile_picture_url%>">
  <h3 class="overlay-body"><%=@matched_user.first_name%></h3>
  <% @matched_user.activity_blurbs.each do |blurb| %>
  <% if blurb.text == "beginner" %>
    <button class="sport_card sports-beginner-card"><%= blurb.sport %></button>
  <% elsif blurb.text == "intermediate" %>
    <button class="sport_card sports-intermediate-card"><%= blurb.sport %></button>
  <% else %>
    <button class="sport_card sports-advanced-card"><%= blurb.sport %></button>
    <%end%>
  <%end%>
  </div>
</div>
<div class="modal-footer no-line">
  <div class="btn-overlay-row">
  <a href="/matches/<%= @match.first.id %>/chat" class="btn msg-btn pull-left">Send Message</a>
  <button type="button" class="btn swipe-btn" data-dismiss="modal">Continue Swiping</button>
</div>
</div>
