<h1 class="page-head">All Your Matches</h1>

<div class="text-center block-text">
  <% if @matches.length == 0 %>
  Sorry, no matches yet, check back again later!
  <% else %>
  Congrats, you have <%= @matches.length %> matches!
  <% end %>
</div>

<% @matches.each do |match| %>
<div class="row block-text">
<h2> Name: <%= match.first_name %> </h2>
<h3> Activities:
  <% match.activities.each do |activity| %>
  <button>
    <span class="activity-button">
      <%= activity.name %>
    </span>
  </button>
  <% end %>
</h3>
<h4> Bio: <%= match.bio %> </h4>
<%= link_to "Chat", conversation_show_path, :class=>"btn btn-warning btn-xs" %>
</div>
<% end %>
