<h1 class="text-center">All Your Matches</h1>

<div class="text-center header-box">
  <% if @matches.length == 0 %>
  Sorry, no matches yet, check back again later! To increase your odds, add more activities and keep swiping.
  <% else %>
  Congrats, you have <%= @matches.length %> matches!
  <% end %>
</div>



<% @matches.each_with_index do |match,index| %>
<% matched_user = get_matched_user(match, current_user) %>
<% message = Message.where(match_id: match.id).last %>

<div class="match-row cl-b">
  <div class="profile-container">
    <a href=<%="/users/#{matched_user.id}"%> >
      <img class="img-circle" src="<%= matched_user.profile_picture_url %>" alt="profile"/>
    </a>
  </div>
    <a class="btn btn-default btn-blank link-area" role="button" href=<%="/matches/#{match.id}/chat"%> >
        <span class="fa-stack fa-2x fl-r">
          <i class="fa fa-comment fa-stack-2x new-bubble"></i>
            <span class="fa-stack-1x unread-count">
              <%= rand(1..5) %> <!-- INSERT UREAD COUNT  -->
          </span>
        </span>
    <!-- <div class="bubble btn"></div> -->
    <div class="name-and-text">
      <div class="">
        <p class="last-message name"><%= matched_user.first_name %></p>
        <p class="last-message">
          <% if message.nil? %>
          send a message!
          <% else %>
          <%= message.message_text[0..25] %>...
          <% end %>
        </p>
      </div>
    </div>
  </a>
</div>


<% end %>
