<h1 class="text-center">All Your Matches</h1>

<div class="text-center">
  <% if @matches.length == 0 %>
  Sorry, no matches yet, check back again later! To increase your odds, add more activities and keep swiping.
  <% else %>
  Congrats, you have <%= @matches.length %> matches!
  <% end %>
</div>

<% @matches.each do |match| %>
<% matched_user = get_matched_user(match, current_user) %>
<div class="match-row">
  <div class="col-xs-3">
    <img class="img-circle" src="<%= matched_user.profile_picture_url %>"/>
  </div>
  <div class="col-xs-9">
    <a href=<%="/matches/#{match.id}/chat"%> >
      <div class="match-name"><%= matched_user.first_name %></div>
      <%= link_to "Chat", "/matches/#{match.id}/chat", :class=>"bubble btn" %>
      <!-- <%= link_to "Chat", "/matches/#{match.id}/chat", :class=>"bubble btn" %> -->
    </a>
  </div>
</div>
  <% end %>
