
<%= form_for :activity_blurb do |f| %>

<div class="form-inline">
  <div class="form-group">
    <%= f.label :activity, :class=>"col-md-4" %>
    <%= f.collection_select :activity_id, Activity.all, :id, :name %>
  </div>
  <div class="form-group">
    <%= f.label :text, :class=>"col-md-4" %>
    <%= f.text_field :text, autofocus: true %>
  </div>
  <div class="actions">
    <%= f.submit "Update Activities" %>
  </div>
</div>

<% end %>
<!-- DISPLAY CURRENT ACTIVITIES -->
