<!DOCTYPE html>
<html>
<head>
  <title>Doubles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <!-- INSERT NAV ICON / OPTIONS HERE -->
    <% if current_user %>
    <div class="signed-in-greeting">
      <%= link_to raw("<span class='glyphicon glyphicon-cog'></span>"), "/users/#{current_user.id}/profile", :class=>"btn pull-right handshake-button btn-secondary btn-xs" %>
      <span class="greeting">Hello <%= current_user.first_name %>!</span>
      <%= link_to raw("<img src='/assets/handshake_icon.jpg' class='icon'/>"), "/users/#{current_user.id}/matches", :class=>"btn handshake-button btn-secondary pull-left btn-xs" %>
      <%= link_to raw("<span class='glyphicon glyphicon-resize-horizontal'></span>"), "/users/#{current_user.id}/feed", :class=>"btn handshake-button btn-secondary pull-left btn-xs" %>
    </div>
    <% else %>
      <button type="button" class="login_register_button">
        <%= link_to "Log in with Facebook", user_omniauth_authorize_path(:facebook) %>
      </button>
    <% end %>
  </nav>

<% if current_user %>
Visits count: <%= current_user.sign_in_count %>
<% end %>

<div class="container-fluid">
<%= yield %>
</div>
</body>
</html>
