<!DOCTYPE html>
<html>
<head>
  <title>Doubles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <link href='https://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/ios_fullscreen_web_app_config' %>
</head>
<body>
  <div class="row">
    <!-- INSERT NAV ICON / OPTIONS HERE -->
    <% if current_user %>
      <button class="col-xs-4 nav-button"><%= link_to raw('<i class="fa fa-user"></i>'), "/profile" %></button>
      <button class="col-xs-4 nav-button"><%= link_to raw('<i class="fa fa-comment"></i>'), "/matches" %></button>
      <button class="col-xs-4 nav-button"><%= link_to raw('<i class="fa fa-hand-pointer-o"></i>'), "/feed" %></button>
    </button>
    <% else %>
    <% end %>
  </div>
<% if flash[:success] %>
<div class="alert alert-success" role="alert">
  <%= flash[:success] %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<% end %>
<% if flash[:info] %>
<div class="alert alert-info" role="alert">
  <%= flash[:info] %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<% end %>
<% if flash[:warning] %>
<div class="alert alert-warning" role="alert">
  <%= flash[:warning] %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<% end %>
<% if flash[:danger] %>
<div class="alert alert-danger" role="alert">
  <%= flash[:danger] %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
</div>
<% end %>
<div class="container-fluid">
<%= yield %>
</div>
<!-- Modal -->
<style type="text/css">
.modal-content {
  width: 95vw;
}
</style>
      <% if flash[:show_modals] %>
        <% index = 0 %>
        <% flash[:modals_to_show].each do |modal_route| %>
          <%= render partial: 'layouts/modal_partial', :locals => {index: index, route: modal_route} %>

        <% end %>
      <% end %>
</body>
</html>
